In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [2]:
spark = SparkSession.builder.appName("DS 2.3 HW3").getOrCreate()

In [3]:
df = spark.read.csv("titanic.csv", header=True, inferSchema=True)
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [4]:
df.describe().show()

+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|summary|      PassengerId|           Survived|            Pclass|                Name|   Sex|               Age|             SibSp|              Parch|            Ticket|             Fare|Cabin|Embarked|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|  count|              891|                891|               891|                 891|   891|               714|               891|                891|               891|              891|  204|     889|
|   mean|            446.0| 0.3838383838383838| 2.308641975308642|                null|  null| 29.69911764705882|0.5230078563411896|0.38159371492704824|260318.54916792738| 32.2042079685746| null|    null|
| stddev|257.3538420152301|0.48659245426485753|0.8360712409770491|                null|  null|14.526497332334035|1.1027434322934315| 0.8060572211299488|471609.26868834975|49.69342859718089| null|    null|
|    min|                1|                  0|                 1|"Andersson, Mr. A...|female|              0.42|                 0|                  0|            110152|              0.0|  A10|       C|
|    max|              891|                  1|                 3|van Melkebeke, Mr...|  male|              80.0|                 8|                  6|         WE/P 5735|         512.3292|    T|       S|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+

In [5]:
df.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [6]:
df.where(col("Age").isNull()).count()

177

In [7]:
def find_gender(x):
    if x == "male":
        return 1
    return 0

gender_udf = udf(find_gender, IntegerType())
df = df.withColumn("Gender", gender_udf("Sex"))
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|Gender|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|     1|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|     0|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|     0|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|     0|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|     1|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|     1|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|     1|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|     1|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|     0|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|     0|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|     0|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|     0|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|     1|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|     1|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|     0|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|     0|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|     1|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|     1|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|     0|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|     0|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+------+
only showing top 20 rows

In [8]:
print("({}, {})".format(df.count(), len(df.columns)))

(891, 13)

In [9]:
for i in df.select("Age").collect():
    if i is not None:
        print(i)

Row(Age=22.0)
Row(Age=38.0)
Row(Age=26.0)
Row(Age=35.0)
Row(Age=35.0)
Row(Age=None)
Row(Age=54.0)
Row(Age=2.0)
Row(Age=27.0)
Row(Age=14.0)
Row(Age=4.0)
Row(Age=58.0)
Row(Age=20.0)
Row(Age=39.0)
Row(Age=14.0)
Row(Age=55.0)
Row(Age=2.0)
Row(Age=None)
Row(Age=31.0)
Row(Age=None)
Row(Age=35.0)
Row(Age=34.0)
Row(Age=15.0)
Row(Age=28.0)
Row(Age=8.0)
Row(Age=38.0)
Row(Age=None)
Row(Age=19.0)
Row(Age=None)
Row(Age=None)
Row(Age=40.0)
Row(Age=None)
Row(Age=None)
Row(Age=66.0)
Row(Age=28.0)
Row(Age=42.0)
Row(Age=None)
Row(Age=21.0)
Row(Age=18.0)
Row(Age=14.0)
Row(Age=40.0)
Row(Age=27.0)
Row(Age=None)
Row(Age=3.0)
Row(Age=19.0)
Row(Age=None)
Row(Age=None)
Row(Age=None)
Row(Age=None)
Row(Age=18.0)
Row(Age=7.0)
Row(Age=21.0)
Row(Age=49.0)
Row(Age=29.0)
Row(Age=65.0)
Row(Age=None)
Row(Age=21.0)
Row(Age=28.5)
Row(Age=5.0)
Row(Age=11.0)
Row(Age=22.0)
Row(Age=38.0)
Row(Age=45.0)
Row(Age=4.0)
Row(Age=None)
Row(Age=None)
Row(Age=29.0)
Row(Age=19.0)
Row(Age=17.0)
Row(Age=26.0)
Row(Age=32.0)
Row(Age=16.0)
Row(Age=21.0)
Row(Age=26.0)
Row(Age=32.0)
Row(Age=25.0)
Row(Age=None)
Row(Age=None)
Row(Age=0.83)
Row(Age=30.0)
Row(Age=22.0)
Row(Age=29.0)
Row(Age=None)
Row(Age=28.0)
Row(Age=17.0)
Row(Age=33.0)
Row(Age=16.0)
Row(Age=None)
Row(Age=23.0)
Row(Age=24.0)
Row(Age=29.0)
Row(Age=20.0)
Row(Age=46.0)
Row(Age=26.0)
Row(Age=59.0)
Row(Age=None)
Row(Age=71.0)
Row(Age=23.0)
Row(Age=34.0)
Row(Age=34.0)
Row(Age=28.0)
Row(Age=None)
Row(Age=21.0)
Row(Age=33.0)
Row(Age=37.0)
Row(Age=28.0)
Row(Age=21.0)
Row(Age=None)
Row(Age=38.0)
Row(Age=None)
Row(Age=47.0)
Row(Age=14.5)
Row(Age=22.0)
Row(Age=20.0)
Row(Age=17.0)
Row(Age=21.0)
Row(Age=70.5)
Row(Age=29.0)
Row(Age=24.0)
Row(Age=2.0)
Row(Age=21.0)
Row(Age=None)
Row(Age=32.5)
Row(Age=32.5)
Row(Age=54.0)
Row(Age=12.0)
Row(Age=None)
Row(Age=24.0)
Row(Age=None)
Row(Age=45.0)
Row(Age=33.0)
Row(Age=20.0)
Row(Age=47.0)
Row(Age=29.0)
Row(Age=25.0)
Row(Age=23.0)
Row(Age=19.0)
Row(Age=37.0)
Row(Age=16.0)
Row(Age=24.0)
Row(Age=None)
Row(Age=22.0)
Row(Age=24.0)
Row(Age=19.0)
Row(Age=18.0)
Row(Age=19.0)
Row(Age=27.0)
Row(Age=9.0)
Row(Age=36.5)
Row(Age=42.0)
Row(Age=51.0)
Row(Age=22.0)
Row(Age=55.5)
Row(Age=40.5)
Row(Age=None)
Row(Age=51.0)
Row(Age=16.0)
Row(Age=30.0)
Row(Age=None)
Row(Age=None)
Row(Age=44.0)
Row(Age=40.0)
Row(Age=26.0)
Row(Age=17.0)
Row(Age=1.0)
Row(Age=9.0)
Row(Age=None)
Row(Age=45.0)
Row(Age=None)
Row(Age=28.0)
Row(Age=61.0)
Row(Age=4.0)
Row(Age=1.0)
Row(Age=21.0)
Row(Age=56.0)
Row(Age=18.0)
Row(Age=None)
Row(Age=50.0)
Row(Age=30.0)
Row(Age=36.0)
Row(Age=None)
Row(Age=None)
Row(Age=9.0)
Row(Age=1.0)
Row(Age=4.0)
Row(Age=None)
Row(Age=None)
Row(Age=45.0)
Row(Age=40.0)
Row(Age=36.0)
Row(Age=32.0)
Row(Age=19.0)
Row(Age=19.0)
Row(Age=3.0)
Row(Age=44.0)
Row(Age=58.0)
Row(Age=None)
Row(Age=42.0)
Row(Age=None)
Row(Age=24.0)
Row(Age=28.0)
Row(Age=None)
Row(Age=34.0)
Row(Age=45.5)
Row(Age=18.0)
Row(Age=2.0)
Row(Age=32.0)
Row(Age=26.0)
Row(Age=16.0)
Row(Age=40.0)
Row(Age=24.0)
Row(Age=35.0)
Row(Age=22.0)
Row(Age=30.0)
Row(Age=None)
Row(Age=31.0)
Row(Age=27.0)
Row(Age=42.0)
Row(Age=32.0)
Row(Age=30.0)
Row(Age=16.0)
Row(Age=27.0)
Row(Age=51.0)
Row(Age=None)
Row(Age=38.0)
Row(Age=22.0)
Row(Age=19.0)
Row(Age=20.5)
Row(Age=18.0)
Row(Age=None)
Row(Age=35.0)
Row(Age=29.0)
Row(Age=59.0)
Row(Age=5.0)
Row(Age=24.0)
Row(Age=None)
Row(Age=44.0)
Row(Age=8.0)
Row(Age=19.0)
Row(Age=33.0)
Row(Age=None)
Row(Age=None)
Row(Age=29.0)
Row(Age=22.0)
Row(Age=30.0)
Row(Age=44.0)
Row(Age=25.0)
Row(Age=24.0)
Row(Age=37.0)
Row(Age=54.0)
Row(Age=None)
Row(Age=29.0)
Row(Age=62.0)
Row(Age=30.0)
Row(Age=41.0)
Row(Age=29.0)
Row(Age=None)
Row(Age=30.0)
Row(Age=35.0)
Row(Age=50.0)
Row(Age=None)
Row(Age=3.0)
Row(Age=52.0)
Row(Age=40.0)
Row(Age=None)
Row(Age=36.0)
Row(Age=16.0)
Row(Age=25.0)
Row(Age=58.0)
Row(Age=35.0)
Row(Age=None)
Row(Age=25.0)
Row(Age=41.0)
Row(Age=37.0)
Row(Age=None)
Row(Age=63.0)
Row(Age=45.0)
Row(Age=None)
Row(Age=7.0)
Row(Age=35.0)
Row(Age=65.0)
Row(Age=28.0)
Row(Age=16.0)
Row(Age=19.0)
Row(Age=None)
Row(Age=33.0)
Row(Age=30.0)
Row(Age=22.0)
Row(Age=42.0)
Row(Age=22.0)
Row(Age=26.0)
Row(Age=19.0)
Row(Age=36.0)
Row(Age=24.0)
Row(Age=24.0)
Row(Age=None)
Row(Age=23.5)
Row(Age=2.0)
Row(Age=None)
Row(Age=50.0)
Row(Age=None)
Row(Age=None)
Row(Age=19.0)
Row(Age=None)
Row(Age=None)
Row(Age=0.92)
Row(Age=None)
Row(Age=17.0)
Row(Age=30.0)
Row(Age=30.0)
Row(Age=24.0)
Row(Age=18.0)
Row(Age=26.0)
Row(Age=28.0)
Row(Age=43.0)
Row(Age=26.0)
Row(Age=24.0)
Row(Age=54.0)
Row(Age=31.0)
Row(Age=40.0)
Row(Age=22.0)
Row(Age=27.0)
Row(Age=30.0)
Row(Age=22.0)
Row(Age=None)
Row(Age=36.0)
Row(Age=61.0)
Row(Age=36.0)
Row(Age=31.0)
Row(Age=16.0)
Row(Age=None)
Row(Age=45.5)
Row(Age=38.0)
Row(Age=16.0)
Row(Age=None)
Row(Age=None)
Row(Age=29.0)
Row(Age=41.0)
Row(Age=45.0)
Row(Age=45.0)
Row(Age=2.0)
Row(Age=24.0)
Row(Age=28.0)
Row(Age=25.0)
Row(Age=36.0)
Row(Age=24.0)
Row(Age=40.0)
Row(Age=None)
Row(Age=3.0)
Row(Age=42.0)
Row(Age=23.0)
Row(Age=None)
Row(Age=15.0)
Row(Age=25.0)
Row(Age=None)
Row(Age=28.0)
Row(Age=22.0)
Row(Age=38.0)
Row(Age=None)
Row(Age=None)
Row(Age=40.0)
Row(Age=29.0)
Row(Age=45.0)
Row(Age=35.0)
Row(Age=None)
Row(Age=30.0)
Row(Age=60.0)
Row(Age=None)
Row(Age=None)
Row(Age=24.0)
Row(Age=25.0)
Row(Age=18.0)
Row(Age=19.0)
Row(Age=22.0)
Row(Age=3.0)
Row(Age=None)
Row(Age=22.0)
Row(Age=27.0)
Row(Age=20.0)
Row(Age=19.0)
Row(Age=42.0)
Row(Age=1.0)
Row(Age=32.0)
Row(Age=35.0)
Row(Age=None)
Row(Age=18.0)
Row(Age=1.0)
Row(Age=36.0)
Row(Age=None)
Row(Age=17.0)
Row(Age=36.0)
Row(Age=21.0)
Row(Age=28.0)
Row(Age=23.0)
Row(Age=24.0)
Row(Age=22.0)
Row(Age=31.0)
Row(Age=46.0)
Row(Age=23.0)
Row(Age=28.0)
Row(Age=39.0)
Row(Age=26.0)
Row(Age=21.0)
Row(Age=28.0)
Row(Age=20.0)
Row(Age=34.0)
Row(Age=51.0)
Row(Age=3.0)
Row(Age=21.0)
Row(Age=None)
Row(Age=None)
Row(Age=None)
Row(Age=33.0)
Row(Age=None)
Row(Age=44.0)
Row(Age=None)
Row(Age=34.0)
Row(Age=18.0)
Row(Age=30.0)
Row(Age=10.0)
Row(Age=None)
Row(Age=21.0)
Row(Age=29.0)
Row(Age=28.0)
Row(Age=18.0)
Row(Age=None)
Row(Age=28.0)
Row(Age=19.0)
Row(Age=None)
Row(Age=32.0)
Row(Age=28.0)
Row(Age=None)
Row(Age=42.0)
Row(Age=17.0)
Row(Age=50.0)
Row(Age=14.0)
Row(Age=21.0)
Row(Age=24.0)
Row(Age=64.0)
Row(Age=31.0)
Row(Age=45.0)
Row(Age=20.0)
Row(Age=25.0)
Row(Age=28.0)
Row(Age=None)
Row(Age=4.0)
Row(Age=13.0)
Row(Age=34.0)
Row(Age=5.0)
Row(Age=52.0)
Row(Age=36.0)
Row(Age=None)
Row(Age=30.0)
Row(Age=49.0)
Row(Age=None)
Row(Age=29.0)
Row(Age=65.0)
Row(Age=None)
Row(Age=50.0)
Row(Age=None)
Row(Age=48.0)
Row(Age=34.0)
Row(Age=47.0)
Row(Age=48.0)
Row(Age=None)
Row(Age=38.0)
Row(Age=None)
Row(Age=56.0)
Row(Age=None)
Row(Age=0.75)
Row(Age=None)
Row(Age=38.0)
Row(Age=33.0)
Row(Age=23.0)
Row(Age=22.0)
Row(Age=None)
Row(Age=34.0)
Row(Age=29.0)
Row(Age=22.0)
Row(Age=2.0)
Row(Age=9.0)
Row(Age=None)
Row(Age=50.0)
Row(Age=63.0)
Row(Age=25.0)
Row(Age=None)
Row(Age=35.0)
Row(Age=58.0)
Row(Age=30.0)
Row(Age=9.0)
Row(Age=None)
Row(Age=21.0)
Row(Age=55.0)
Row(Age=71.0)
Row(Age=21.0)
Row(Age=None)
Row(Age=54.0)
Row(Age=None)
Row(Age=25.0)
Row(Age=24.0)
Row(Age=17.0)
Row(Age=21.0)
Row(Age=None)
Row(Age=37.0)
Row(Age=16.0)
Row(Age=18.0)
Row(Age=33.0)
Row(Age=None)
Row(Age=28.0)
Row(Age=26.0)
Row(Age=29.0)
Row(Age=None)
Row(Age=36.0)
Row(Age=54.0)
Row(Age=24.0)
Row(Age=47.0)
Row(Age=34.0)
Row(Age=None)
Row(Age=36.0)
Row(Age=32.0)
Row(Age=30.0)
Row(Age=22.0)
Row(Age=None)
Row(Age=44.0)
Row(Age=None)
Row(Age=40.5)
Row(Age=50.0)
Row(Age=None)
Row(Age=39.0)
Row(Age=23.0)
Row(Age=2.0)
Row(Age=None)
Row(Age=17.0)
Row(Age=None)
Row(Age=30.0)
Row(Age=7.0)
Row(Age=45.0)
Row(Age=30.0)
Row(Age=None)
Row(Age=22.0)
Row(Age=36.0)
Row(Age=9.0)
Row(Age=11.0)
Row(Age=32.0)
Row(Age=50.0)
Row(Age=64.0)
Row(Age=19.0)
Row(Age=None)
Row(Age=33.0)
Row(Age=8.0)
Row(Age=17.0)
Row(Age=27.0)
Row(Age=None)
Row(Age=22.0)
Row(Age=22.0)
Row(Age=62.0)
Row(Age=48.0)
Row(Age=None)
Row(Age=39.0)
Row(Age=36.0)
Row(Age=None)
Row(Age=40.0)
Row(Age=28.0)
Row(Age=None)
Row(Age=None)
Row(Age=24.0)
Row(Age=19.0)
Row(Age=29.0)
Row(Age=None)
Row(Age=32.0)
Row(Age=62.0)
Row(Age=53.0)
Row(Age=36.0)
Row(Age=None)
Row(Age=16.0)
Row(Age=19.0)
Row(Age=34.0)
Row(Age=39.0)
Row(Age=None)
Row(Age=32.0)
Row(Age=25.0)
Row(Age=39.0)
Row(Age=54.0)
Row(Age=36.0)
Row(Age=None)
Row(Age=18.0)
Row(Age=47.0)
Row(Age=60.0)
Row(Age=22.0)
Row(Age=None)
Row(Age=35.0)
Row(Age=52.0)
Row(Age=47.0)
Row(Age=None)
Row(Age=37.0)
Row(Age=36.0)
Row(Age=None)
Row(Age=49.0)
Row(Age=None)
Row(Age=49.0)
Row(Age=24.0)
Row(Age=None)
Row(Age=None)
Row(Age=44.0)
Row(Age=35.0)
Row(Age=36.0)
Row(Age=30.0)
Row(Age=27.0)
Row(Age=22.0)
Row(Age=40.0)
Row(Age=39.0)
Row(Age=None)
Row(Age=None)
Row(Age=None)
Row(Age=35.0)
Row(Age=24.0)
Row(Age=34.0)
Row(Age=26.0)
Row(Age=4.0)
Row(Age=26.0)
Row(Age=27.0)
Row(Age=42.0)
Row(Age=20.0)
Row(Age=21.0)
Row(Age=21.0)
Row(Age=61.0)
Row(Age=57.0)
Row(Age=21.0)
Row(Age=26.0)
Row(Age=None)
Row(Age=80.0)
Row(Age=51.0)
Row(Age=32.0)
Row(Age=None)
Row(Age=9.0)
Row(Age=28.0)
Row(Age=32.0)
Row(Age=31.0)
Row(Age=41.0)
Row(Age=None)
Row(Age=20.0)
Row(Age=24.0)
Row(Age=2.0)
Row(Age=None)
Row(Age=0.75)
Row(Age=48.0)
Row(Age=19.0)
Row(Age=56.0)
Row(Age=None)
Row(Age=23.0)
Row(Age=None)
Row(Age=18.0)
Row(Age=21.0)
Row(Age=None)
Row(Age=18.0)
Row(Age=24.0)
Row(Age=None)
Row(Age=32.0)
Row(Age=23.0)
Row(Age=58.0)
Row(Age=50.0)
Row(Age=40.0)
Row(Age=47.0)
Row(Age=36.0)
Row(Age=20.0)
Row(Age=32.0)
Row(Age=25.0)
Row(Age=None)
Row(Age=43.0)
Row(Age=None)
Row(Age=40.0)
Row(Age=31.0)
Row(Age=70.0)
Row(Age=31.0)
Row(Age=None)
Row(Age=18.0)
Row(Age=24.5)
Row(Age=18.0)
Row(Age=43.0)
Row(Age=36.0)
Row(Age=None)
Row(Age=27.0)
Row(Age=20.0)
Row(Age=14.0)
Row(Age=60.0)
Row(Age=25.0)
Row(Age=14.0)
Row(Age=19.0)
Row(Age=18.0)
Row(Age=15.0)
Row(Age=31.0)
Row(Age=4.0)
Row(Age=None)
Row(Age=25.0)
Row(Age=60.0)
Row(Age=52.0)
Row(Age=44.0)
Row(Age=None)
Row(Age=49.0)
Row(Age=42.0)
Row(Age=18.0)
Row(Age=35.0)
Row(Age=18.0)
Row(Age=25.0)
Row(Age=26.0)
Row(Age=39.0)
Row(Age=45.0)
Row(Age=42.0)
Row(Age=22.0)
Row(Age=None)
Row(Age=24.0)
Row(Age=None)
Row(Age=48.0)
Row(Age=29.0)
Row(Age=52.0)
Row(Age=19.0)
Row(Age=38.0)
Row(Age=27.0)
Row(Age=None)
Row(Age=33.0)
Row(Age=6.0)
Row(Age=17.0)
Row(Age=34.0)
Row(Age=50.0)
Row(Age=27.0)
Row(Age=20.0)
Row(Age=30.0)
Row(Age=None)
Row(Age=25.0)
Row(Age=25.0)
Row(Age=29.0)
Row(Age=11.0)
Row(Age=None)
Row(Age=23.0)
Row(Age=23.0)
Row(Age=28.5)
Row(Age=48.0)
Row(Age=35.0)
Row(Age=None)
Row(Age=None)
Row(Age=None)
Row(Age=36.0)
Row(Age=21.0)
Row(Age=24.0)
Row(Age=31.0)
Row(Age=70.0)
Row(Age=16.0)
Row(Age=30.0)
Row(Age=19.0)
Row(Age=31.0)
Row(Age=4.0)
Row(Age=6.0)
Row(Age=33.0)
Row(Age=23.0)
Row(Age=48.0)
Row(Age=0.67)
Row(Age=28.0)
Row(Age=18.0)
Row(Age=34.0)
Row(Age=33.0)
Row(Age=None)
Row(Age=41.0)
Row(Age=20.0)
Row(Age=36.0)
Row(Age=16.0)
Row(Age=51.0)
Row(Age=None)
Row(Age=30.5)
Row(Age=None)
Row(Age=32.0)
Row(Age=24.0)
Row(Age=48.0)
Row(Age=57.0)
Row(Age=None)
Row(Age=54.0)
Row(Age=18.0)
Row(Age=None)
Row(Age=5.0)
Row(Age=None)
Row(Age=43.0)
Row(Age=13.0)
Row(Age=17.0)
Row(Age=29.0)
Row(Age=None)
Row(Age=25.0)
Row(Age=25.0)
Row(Age=18.0)
Row(Age=8.0)
Row(Age=1.0)
Row(Age=46.0)
Row(Age=None)
Row(Age=16.0)
Row(Age=None)
Row(Age=None)
Row(Age=25.0)
Row(Age=39.0)
Row(Age=49.0)
Row(Age=31.0)
Row(Age=30.0)
Row(Age=30.0)
Row(Age=34.0)
Row(Age=31.0)
Row(Age=11.0)
Row(Age=0.42)
Row(Age=27.0)
Row(Age=31.0)
Row(Age=39.0)
Row(Age=18.0)
Row(Age=39.0)
Row(Age=33.0)
Row(Age=26.0)
Row(Age=39.0)
Row(Age=35.0)
Row(Age=6.0)
Row(Age=30.5)
Row(Age=None)
Row(Age=23.0)
Row(Age=31.0)
Row(Age=43.0)
Row(Age=10.0)
Row(Age=52.0)
Row(Age=27.0)
Row(Age=38.0)
Row(Age=27.0)
Row(Age=2.0)
Row(Age=None)
Row(Age=None)
Row(Age=1.0)
Row(Age=None)
Row(Age=62.0)
Row(Age=15.0)
Row(Age=0.83)
Row(Age=None)
Row(Age=23.0)
Row(Age=18.0)
Row(Age=39.0)
Row(Age=21.0)
Row(Age=None)
Row(Age=32.0)
Row(Age=None)
Row(Age=20.0)
Row(Age=16.0)
Row(Age=30.0)
Row(Age=34.5)
Row(Age=17.0)
Row(Age=42.0)
Row(Age=None)
Row(Age=35.0)
Row(Age=28.0)
Row(Age=None)
Row(Age=4.0)
Row(Age=74.0)
Row(Age=9.0)
Row(Age=16.0)
Row(Age=44.0)
Row(Age=18.0)
Row(Age=45.0)
Row(Age=51.0)
Row(Age=24.0)
Row(Age=None)
Row(Age=41.0)
Row(Age=21.0)
Row(Age=48.0)
Row(Age=None)
Row(Age=24.0)
Row(Age=42.0)
Row(Age=27.0)
Row(Age=31.0)
Row(Age=None)
Row(Age=4.0)
Row(Age=26.0)
Row(Age=47.0)
Row(Age=33.0)
Row(Age=47.0)
Row(Age=28.0)
Row(Age=15.0)
Row(Age=20.0)
Row(Age=19.0)
Row(Age=None)
Row(Age=56.0)
Row(Age=25.0)
Row(Age=33.0)
Row(Age=22.0)
Row(Age=28.0)
Row(Age=25.0)
Row(Age=39.0)
Row(Age=27.0)
Row(Age=19.0)
Row(Age=None)
Row(Age=26.0)
Row(Age=32.0)

In [10]:
df.filter(df.Embarked == "C").show()

+-----------+--------+------+--------------------+------+----+-----+-----+-------------+--------+-----+--------+------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|       Ticket|    Fare|Cabin|Embarked|Gender|
+-----------+--------+------+--------------------+------+----+-----+-----+-------------+--------+-----+--------+------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|     PC 17599| 71.2833|  C85|       C|     0|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|       237736| 30.0708| null|       C|     0|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|         2649|   7.225| null|       C|     0|
|         27|       0|     3|Emir, Mr. Farred ...|  male|null|    0|    0|         2631|   7.225| null|       C|     1|
|         31|       0|     1|Uruchurtu, Don. M...|  male|40.0|    0|    0|     PC 17601| 27.7208| null|       C|     1|
|         32|       1|     1|Spencer, Mrs. Wil...|female|null|    1|    0|     PC 17569|146.5208|  B78|       C|     0|
|         35|       0|     1|Meyer, Mr. Edgar ...|  male|28.0|    1|    0|     PC 17604| 82.1708| null|       C|     1|
|         37|       1|     3|    Mamee, Mr. Hanna|  male|null|    0|    0|         2677|  7.2292| null|       C|     1|
|         40|       1|     3|Nicola-Yarred, Mi...|female|14.0|    1|    0|         2651| 11.2417| null|       C|     0|
|         43|       0|     3| Kraeff, Mr. Theodor|  male|null|    0|    0|       349253|  7.8958| null|       C|     1|
|         44|       1|     2|Laroche, Miss. Si...|female| 3.0|    1|    2|SC/Paris 2123| 41.5792| null|       C|     0|
|         49|       0|     3| Samaan, Mr. Youssef|  male|null|    2|    0|         2662| 21.6792| null|       C|     1|
|         53|       1|     1|Harper, Mrs. Henr...|female|49.0|    1|    0|     PC 17572| 76.7292|  D33|       C|     0|
|         55|       0|     1|Ostby, Mr. Engelh...|  male|65.0|    0|    1|       113509| 61.9792|  B30|       C|     1|
|         58|       0|     3| Novel, Mr. Mansouer|  male|28.5|    0|    0|         2697|  7.2292| null|       C|     1|
|         61|       0|     3|Sirayanian, Mr. O...|  male|22.0|    0|    0|         2669|  7.2292| null|       C|     1|
|         65|       0|     1|Stewart, Mr. Albe...|  male|null|    0|    0|     PC 17605| 27.7208| null|       C|     1|
|         66|       1|     3|Moubarek, Master....|  male|null|    1|    1|         2661| 15.2458| null|       C|     1|
|         74|       0|     3|Chronopoulos, Mr....|  male|26.0|    1|    0|         2680| 14.4542| null|       C|     1|
|         97|       0|     1|Goldschmidt, Mr. ...|  male|71.0|    0|    0|     PC 17754| 34.6542|   A5|       C|     1|
+-----------+--------+------+--------------------+------+----+-----+-----+-------------+--------+-----+--------+------+
only showing top 20 rows

In [11]:
df.select("Fare").describe().show()

+-------+-----------------+
|summary|             Fare|
+-------+-----------------+
|  count|              891|
|   mean| 32.2042079685746|
| stddev|49.69342859718089|
|    min|              0.0|
|    max|         512.3292|
+-------+-----------------+

In [12]:
df.filter(df.Embarked.isNotNull()).select("Embarked").distinct().count()

3

In [13]:
df.filter(df.Embarked.isNotNull()).groupBy("Embarked").count().show()

+--------+-----+
|Embarked|count|
+--------+-----+
|       Q|   77|
|       C|  168|
|       S|  644|
+--------+-----+

In [14]:
df.filter(df.Sex.isNotNull()).groupBy("Sex").count().write.json("Sex_json")

In [15]:
c = df.filter(df.Embarked == "C")
c_male = c.filter(c.Gender == 1)
c_female = c.filter(c.Gender == 0)

In [16]:
c_male.select(mean("Age")).show()

+-----------------+
|         avg(Age)|
+-----------------+
|32.99884057971015|
+-----------------+

In [17]:
c_female.select(mean("Age")).show()

+-----------------+
|         avg(Age)|
+-----------------+
|28.34426229508197|
+-----------------+

In [18]:
c_male.select(max("Age")).show()

+--------+
|max(Age)|
+--------+
|    71.0|
+--------+

In [19]:
c_female.select(max("Age")).show()

+--------+
|max(Age)|
+--------+
|    60.0|
+--------+

In [20]:
df.groupBy("Pclass").pivot("Sex").count().show()

+------+------+----+
|Pclass|female|male|
+------+------+----+
|     1|    94| 122|
|     3|   144| 347|
|     2|    76| 108|
+------+------+----+

In [21]:
(len(df.filter(df.Embarked == "C").collect()) / df.count()) * 100

18.855218855218855